.flash-bag-message {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    width: 300px;
}

html, body {
    background-color: #ededed;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.content-page {
    height: 100%;
    width: 100%;
}

/* Navbar */

.custom-navbar {

}

.custom-navbar .navbar-brand {
    color: white;
    font-size: 25px;
}

.custom-navbar .navbar-nav > li > a{
    color: white;
    font-size: 16px;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

/* User panel */

.user-panel {

}

.user-panel .heading {
    font-size: 30px;
    font-weight: 500;
}

.user-panel .text {
    font-size : 20px;
    margin-bottom: 8px;
}

.user-panel .text .sub-text {
    font-size: 16px;
    margin-left: 18px;
}

/* Bottle */

.bottle {
    height: 250px;
    padding: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

/*.bottle:after {*/
    /*content: ' ';*/
    /*display: block;*/
    /*background-color: white;*/
    /*height: 20px;*/
    /*width: 100%;*/
    /*position: absolute;*/
    /*bottom: 0;*/
/*}*/

.bottle .text {
    font-style: italic;
    font-size: 14px;
}

.bottle .info {
    position: absolute;
    bottom: -5px;
    right: 10px;
    font-size: 11px;
}

.bottle .image-icon {
    position: absolute;
    bottom: -5px;
    left: 20px;
}

.bottle .admin {
    position: absolute;
    bottom: -5px;
    left: 20px;
    font-size: 11px;

}


.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }

/* Bottle actions page */

.container-button {
    text-align: center;
    padding: 30px;
}

.container-button .info-text {
    font-size: 50px;
    font-weight: 500;
    margin: 0;
}

.container-button .button {
    margin-left: 10px;
    font-size:25px;
}


#title {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0.2s;
    -webkit-animation-iteration-count: 1;
}

#button-group {
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0.8s;
    -webkit-animation-iteration-count: 1;
}

.back-profile {
    position: absolute;
    top: 10px;
    left: 10px;
}

.back-profile a {
    color: #666666;
    font-weight: 500;
    font-size: 22px;
    cursor: pointer;
    text-decoration: none;
}

/* Write bottle page */

.container-write-bottle {
    padding: 20px;
}

.container-write-bottle .title {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    margin: 0;
}

/* Override form-control bootstrap */


/* Open bottle page */

.bottle-open {
    padding: 20px;
}

.bottle-open p {
    margin: 0;
}

.bottle-open .title {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
}

.bottle-open .text {
    font-style: italic;
    font-size: 15px;
}

.bottle-open .sender {
    font-style: italic;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 500;
}

.logout-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.logout-button a {
    color: #666666;
    font-weight: 500;
    font-size: 22px;
    cursor: pointer;
    text-decoration: none;
}

.bottle-full {
    padding: 30px;
    color: #333;
}

.bottle-full .title {
    font-size: 28px;
    font-weight: 500;
    margin: 5px;
    text-align: center;
}

.bottle-full hr {
    background-color: #333;
    border-color: #333;
    color: #333;
    width: 5%;
    margin-top: 0;
    height: 5px;
}

.bottle-full .message {
    font-style: italic;
    font-size: 13px;
    margin: 0;

}

.bottle-full .image {
}

.bottle-full .user-info {
    text-align: right;
    font-style: italic;
    font-size: 12px;
    margin-top: 10px;
    font-weight: 500;
}




