body {
    background-color: #ededed;

}

.content-page {
    margin-top : 80px;
}

/* Navbar */

.custom-navbar {

}

.custom-navbar .navbar-brand {
    color: white;
    font-size: 25px;
}

.custom-navbar .navbar-nav > li > a{
    color: white;
    font-size: 16px;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

/* User panel */

.user-panel {

}

.user-panel .heading {
    font-size: 25px;
    font-weight: 500;
}

.user-panel .text {
    font-size : 18px;
    margin-bottom: 8px;
}

.user-panel .text .sub-text {
    font-size: 15px;
    margin-left: 18px;
}

/* Bottle */

.bottle {
    height: 250px;
    padding: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

/*.bottle:after {*/
    /*content: ' ';*/
    /*display: block;*/
    /*background-color: white;*/
    /*height: 20px;*/
    /*width: 100%;*/
    /*position: absolute;*/
    /*bottom: 0;*/
/*}*/

.bottle .text {
    font-style: italic;
    font-size: 14px;
}

.bottle .info {
    position: absolute;
    bottom: -5px;
    right: 10px;
    font-size: 11px;
}

.bottle .image-icon {
    position: absolute;
    bottom: -5px;
    left: 20px;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.05); }
