<html>
<body>
{% if bottle is not null %}
    <h3>Votre bouteille contient un message !</h3>
    {{ bottle.message }}<br /><br />
    Choisissez une note et un emoji :)
{% else %}
    Aucune bouteille n'est arrivée jusqu'à vous, revenez demain !
{% endif %}
</body>
</html>
