{% extends 'base.html.twig' %}

{% block title %}
    Open a bottle
{% endblock %}

{% block body %}

    <div class="logout-button grow">
        <a href="{{ path('logout') }}">
            Logout <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
    </div>

    <div style="display: table; width: 100%; height: 100%;">
        <div style="display: table-cell; vertical-align: middle">

            <div class="row">

                <div class="col-md-6 col-md-offset-3">

                        {% if (bottle.type == 'info') %}
                            {% set color = 'rgba(13, 189, 255, 0.15);' %}
                            {% set icon = 'info-circle' %}
                        {% elseif (bottle.type == 'warning') %}
                            {% set color = 'rgba(255, 255, 0, 0.15);' %}
                            {% set icon = 'exclamation-circle' %}
                        {% elseif (bottle.type == 'help') %}
                            {% set color = 'rgba(0, 128, 0, 0.15)' %}
                            {% set icon = 'question-circle' %}
                        {% else %}
                            {% set color = 'white' %}
                            {% set icon = 'info-circle' %}
                        {% endif %}
                        <div class="panel panel-default bottle-open animated zoomIn" style="background-color: white">
                            <div class="row">
                                <p class="title">
                                    <i class="fa fa-{{ icon }}" aria-hidden="true"></i>
                                    An administrator sent you a bottle ..
                                </p>
                            </div>
                            <hr />
                            <p class="text">{{ bottle.message }}</p>

                            <div style="margin-top: 20px;">
                                <div class="row">

                                    <form action="{{ path('bottle_evaluate') }}" method="post">
                                        <div class="col-md-6">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="saveBottle" value="save"> Save bottle
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="pull-right">

                                                <button type="submit" name="write"
                                                        class="btn btn-primary grow">
                                                    <i class="fa fa-check" aria-hidden="true"></i> Got it
                                                </button>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>

                </div>


            </div>
        </div>
    </div>

{% endblock %}