{% extends 'base.html.twig' %}

{% block title %}
    Write a bottle
{% endblock %}

{% block body %}

    <div class="logout-button grow">
        <a href="{{ path('logout') }}">
            Logout <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
    </div>

    <a href="{{ path('bottle_home') }}"
       class="animated fadeIn grow"
       style="position: absolute; left: 10px; top: 10px; font-weight: 500; font-size: 22px; cursor: pointer; color: #666666; text-decoration: none;">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Bottles
    </a>

    <div style="display: table; width: 100%; height: 100%">
        <div style="display: table-cell; vertical-align: middle">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-default animated fadeInDown container-write-bottle">
                            <p class="title">Write a new bottle</p>
                            <form method="post" action="{{ path('bottle_create') }}">
                                <div class="form-group">
                                    <label class="control-label" for="focusedInput">Image (URL)</label>
                                    <input class="form-control" name="image" type="text"
                                           placeholder="This field is optional">
                                </div>

                                <div class="form-group" style="margin-top: 20px;">
                                    <label class="control-label" for="focusedInput">Message</label>
                                    <textarea class="form-control" rows="4" name="message" style="resize: none;"></textarea>
                                    {#<span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>#}
                                </div>
                                <div class="row no-padding" style="margin-top: 30px;">
                                    <button type="submit" name="send"
                                            class="btn btn-primary btn-lg grow pull-right">
                                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Send
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}