{% extends 'base.html.twig' %}

{% block body %}
    <h3>Write a message</h3>
    <form method="post" action="{{ path('bottle_create') }}">
        <input placeholder="Image (otional)" name="image" type="text" /><br />
        <textarea style="width: 800px; height:300px;" placeholder="Message" name="message"></textarea><br />
        <input type="submit" name="draft" value="Save it as a Draft" />
        <input type="submit" name="send" value="Send it in a bottle" />
    </form>
{% endblock %}