{% extends 'base.html.twig' %}

{% block title %}
    Report
{% endblock %}

{% block body %}


<div style="display: table; width: 100%; height: 100%">
    <div style="display: table-cell; vertical-align: middle">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <div class="panel panel-default bottle-full">


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
