{% extends 'base.html.twig' %}

{% block title %}
    User page
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12 no-padding">
            <div class="panel panel-default user-panel">
                <div class="panel-heading heading">
                    <i class="fa fa-info-circle" aria-hidden="true"></i> Information
                </div>
                <div class="panel-body">
                    <p class="text">
                        <i class="fa fa-user" aria-hidden="true"></i> Lyfing
                    </p>

                    <p class="text">
                        <i class="fa fa-envelope" aria-hidden="true"></i> philippe.eng@epita.fr
                    </p>

                    <p class="text">
                        <i class="fa fa-star" aria-hidden="true"></i> XP (60/100)
                        <div class="progress">
                            <div class="progress-bar" style="width: 60%;"></div>
                        </div>
                    </p>

                    <p class="text">
                        <i class="fa fa-trophy" aria-hidden="true"></i> Level 123
                    </p>

                    <div class="row" style="padding: 0">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-primary btn-lg">My collection</a>
                        </div>

                        <div class="col-md-6">
                            <a href="#" class="btn btn-primary btn-lg pull-right">Bottles</a>
                        </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
